body {
  padding-left: 300px;
  overflow-x: hidden;
}
.no-pad {
    padding: 0px !important;
}
.underline {
	text-decoration: underline;
}
.side-nav li:hover {
    background-color: transparent;
}
.side-nav .slider a {
	height: 48px;
	line-height: 48px;
}
.overl {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
  z-index: 1;
}
.slider#promo p{
  font-size: 52px;
}

.up_ic {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#p0 {
  min-height: 100vh;
}
.btn, .btn-large, .btn-flat {
    text-transform: capitalize;
}
._middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.list_with_icons>div {
	display: inline;
}
.side_icons {
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: 0px 10% 30px 0px;
}
.list_with_icons_text {
}
.side_icons i {
	font-size: 3rem;
}
.promo_but {
	margin-top: 5vh;
  font-style: italic;
}
@media only screen and (max-width : 992px) {
  .slider#promo p{
    font-size: 28px !important;
  }
  body {
    padding-left: 0px;
  }
}

@media only screen and (max-height: 370px) {
	.promo_but {
    margin-top: 1px;
		/*position: absolute;
		bottom: 1px;
		left: 1px;*/
	}
}