body {
    /*display: flex;
    min-height: 100vh;
    flex-direction: column;*/
    padding-left: 260px;

}
/*main {
	flex: 1 0 auto;
}*/
.side-nav li {
    padding: 0px !important;
}
.underline {
	text-decoration: underline;
}
.side-nav li:first-child:hover {
    background-color: white;
}
.side-nav a {
	height: 48px;
	line-height: 48px;
}
.headbuts a{
  margin-top: 10px;
}
.overl {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.65;
  z-index: 1;
}
.slider#promo p{
  font-size: 52px;
}

.up_ic {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.side-nav li:hover, .side-nav li.active {
    background-color: #fff;
}

@media only screen and (max-width : 992px) {
  body {
    padding-left: 0 !important;
  }
  .slider#promo p{
    font-size: 28px !important;
  }   
}